Source: python-osprofiler
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
               python3-all,
               python3-pbr,
               python3-setuptools
Build-Depends-Indep: python-hacking (>= 0.8.0),
                     python-mock (>= 1.0),
                     python-oslosphinx,
                     python-six (>= 1.7.0),
                     python-subunit (>= 0.0.18),
                     python-testtools (>= 0.9.34),
                     python-webob (>= 1.2.3),
                     python3-docutils,
                     python3-mock (>= 1.0),
                     python3-six (>= 1.7.0),
                     python3-subunit (>= 0.0.18),
                     python3-testtools (>= 0.9.34),
                     python3-webob (>= 1.2.3),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18)
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-osprofiler.git
Vcs-Git: git://anonscm.debian.org/openstack/python-osprofiler.git
Homepage: https://github.com/stackforge/osprofiler

Package: python-osprofiler
Architecture: all
Depends: python-six (>= 1.7.0),
         python-webob (>= 1.2.3),
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack Profiler Library - Python 2.x
 OpenStack consists of multiple projects. Each project, in turn, is composed of
 multiple services. To process some request, e.g. to boot a virtual machine,
 OpenStack uses multiple services from different projects. In the case somethin
 works too slowly, it's extremely complicated to understand what exactly goes
 wrong and to locate the bottleneck.
 .
 To resolve this issue, a tiny but powerful library, osprofiler, has been
 interoduced, and can be used by all OpenStack projects and their Python
 clients. To be able to generate one trace per request, that goes through all
 involved services, and builds a tree of calls (see an example
 http://pavlovic.me/rally/profiler/).
 .
 This package contains the Python 2.x module.

Package: python3-osprofiler
Architecture: all
Depends: python3-six (>= 1.7.0),
         python3-webob (>= 1.2.3),
         ${misc:Depends},
         ${python3:Depends}
Description: OpenStack Profiler Library - Python 3.x
 OpenStack consists of multiple projects. Each project, in turn, is composed of
 multiple services. To process some request, e.g. to boot a virtual machine,
 OpenStack uses multiple services from different projects. In the case somethin
 works too slowly, it's extremely complicated to understand what exactly goes
 wrong and to locate the bottleneck.
 .
 To resolve this issue, a tiny but powerful library, osprofiler, has been
 interoduced, and can be used by all OpenStack projects and their Python
 clients. To be able to generate one trace per request, that goes through all
 involved services, and builds a tree of calls (see an example
 http://pavlovic.me/rally/profiler/).
 .
 This package contains the Python 3.x module.

Package: python-osprofiler-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: OpenStack Profiler Library - doc
 OpenStack consists of multiple projects. Each project, in turn, is composed of
 multiple services. To process some request, e.g. to boot a virtual machine,
 OpenStack uses multiple services from different projects. In the case somethin
 works too slowly, it's extremely complicated to understand what exactly goes
 wrong and to locate the bottleneck.
 .
 To resolve this issue, a tiny but powerful library, osprofiler, has been
 interoduced, and can be used by all OpenStack projects and their Python
 clients. To be able to generate one trace per request, that goes through all
 involved services, and builds a tree of calls (see an example
 http://pavlovic.me/rally/profiler/).
 .
 This package contains the documentation.
